/* ALL PAGES CSS */
body {
    background-image: url('/~cs10/images/gobo_watermark.gif'); /* watermark */
    background-repeat: no-repeat;
    background-position: bottom right;
    background-attachment: fixed;
    font-family: 'Helvetica', 'Helvetica Neue', Verdana, Arial, sans-serif;
    font-size: .8em;
    width: 95%;
    margin: 2%;
    padding: 0 .3em .3em .3em;
}

.logo {
  font-size: 2.5em;
  margin: .1em;
  text-align: middle;
  background: none;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0F4D92), color-stop(50%,#2f6db2), color-stop(100%,#0F4D92)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #0F4D92 0%,#2f6db2 50%,#0F4D92 100%); /* Chrome10+,Safari5.1+ */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-weight: bold;
}

h1 {
    display: block; /* #0F4D92 */
    background: #0F4D92;
    background: -moz-linear-gradient(top,  #0F4D92 0%, #2f6db2 50%, #0F4D92 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0F4D92), color-stop(50%,#2f6db2), color-stop(100%,#0F4D92)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #0F4D92 0%,#2f6db2 50%,#0F4D92 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #0F4D92 q%,#2f6db2 50%,#0F4D92 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #0F4D92 0%,#2f6db2 50%,#0F4D92 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #0F4D92 0%,#2f6db2 50%,#0F4D92 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0F4D92', endColorstr='#0F4D92',GradientType=0 ); /* IE6-9 */
    border-radius: 2em;
    box-shadow: 2px 3px 6px #606060;
    padding: .2em .8em;
    color: white;
    font-size: 2.1em;
    font-weight: 400;
    text-shadow: 1px 1px 1px #222;
    vertical-align: middle;
}

h2 { /* Used for Staff Headings */
    font-size: 1.6em;
    color: #0F4D92;
    margin: .4em;
}

.center, .ql { text-align: center; }

div.ql {
    display: inline-block;
    font-size: large;
    width: 25%;
    float: left;
}

p {
  width: 98%;
}
b, .bold {
    font-weight: bold;
}

i, em {
    font-style: italic;
}

.wp-caption {
    border: 1px solid #DDD;
    text-align: center;
    align:right;
    background-color: #F3F3F3;
    padding-top: 4px;
    margin: 10px 0 0 0;
    border-radius: 3px;
}

.wp-caption p.wp-caption-text {
    font-size: 0.8em;
    line-height: 13px;
    align:right;
    padding: 2px 4px 5px;
    margin: 0;
    color: #666;
}

/* For resources List */
.lambda {
    list-style-type: none;
}

.lambda > li:before {
    content: "\03BB"; /* Lambda Char Unicode */
    padding: .5em;
    font-weight: bold;
}
/*****************************************************************************/
/* Used for the top table */
td.center {
  text-align: center;
}
td.left {
  text-align: left;
}
td.right {
  text-align: right;
}
table.top-table {
  width: 100%;
}

td {
    border: none;
    border-radius: 4px;
    text-align: center;
}
th {
    background-color: #B0B0B0;
    text-align: center;
    border: none;
    border-radius: 4px;
}

table.grading > tbody > tr:nth-child(even),
tr.cal:nth-child(even), .dark {
    background-color: #E0E0E0;
}
table.grading > tbody > tr:nth-child(odd),
tr.cal:nth-child(odd), .light {
    background-color: #F0F0F0;
}

table.grading {
    margin-left: auto;
    margin-right: auto;
    width: 480px;
    align: center;
    text-align: center;
}
/*****************************************************************************/
/** CALENDAR CLASSES **/
/*****************************************************************************/
/* All Cells */
tr.cal > td,
tr.cal > th {
    border: 2px solid white;
    padding: 3px; /* FIXME */
    margin: 2px;
}

/* This is the date column */
tr.cal > td:nth-child(2) {
    font-family: monospace;
}

/* READING ASSIGNMENTS CLASSES */
/* Preface all readings links with this. */
.reading:before {
    content: "•";
    padding: 0 2px 0 0; /* FIXME */
    color: black;
    display: inline-block;
    text-decoration: none;
}

/* The standard color for readings */
/* Reading Assignments Key Box */
.key {
    margin: 1% 0 2% 0;
    border: 3px solid black;
    border-radius: 5px;
    font-size: 1em;
    padding: .2em;
}
.required, .required:visited {
    color: #00E;
}
/* Readings that are very technical */
.hard, .hard:visited {
    color: #008000;
}
/* Recommended Readings */
.optional, .optional:visited {
    color: #800;
    font-style: italic;
}

/* SPECIAL DATES BACKGROUND COLOLRS */
.due {
    background-color: #FFC;
}
.paper {
    background-color: #CFC;
}
.project {
    background-color: #FCC;
}
.exam {
    background-color: #CCF;
    font-weight: bold;
}
.noClass {
    background-color: #333;
    color: #FFF;
}

div.inner {
    vertical-align: middle;
    padding: .5em;
}

/* WEEKLY CALENDAR */
#weekly {
  width: 100%;
}

/* Increase the default cell height */
table.fc-agenda-slots > tbody > tr > td {
    height: 4em;
}
/* Make today be highlighted in gold. */
.fc-today {
    background-color: #FD0;
}
/* Set text settings for info in each event*/
.fc-event-time, .fc-event-title,
.fc-event-location, .fc-event-descrip {
    color: #222;
    font-size: 1em;
    padding: 0 0 0 .5em;
}
.fc-agenda-axis {
    text-align: center !important;
    font-weight: bold !important;
}
.lecture {
    background-color: #FA8072;
}

.lab {
    background-color: #9CF;
}

.disc {
    background-color: #9F6;
}

.oh {
    background-color: #FC3;
}

/******************************************************************************/
/** STAFF PHOTOS **/
/******************************************************************************/

img.staff {
    border: 4px solid LightBlue;
    border-radius: 4px;
}

div.staffimgrow {
  width: 100%;
  height: 350px;
  float: center;
  text-align: center;
}

div.staffimgrow > div {
  float: left;
  text-align: center;
  padding: .5em 0em;
}
